*
{
  /* give everything that nice font */
  font-family: sans-serif;
}

h1
{
  color:orange;
}

p
{
  color:gray;
}

a
{
  /* give the picture some breathing room */
  display: block;
  padding:3%;
}

span
{
  /* give each item some breathing room */
  padding-left: 40px;
  padding-right: 40px;
  max-width: 25%;
}

div
{
  /* make the itemms wrap if there is not enough room, rather than squish them */
  display:flex;
  flex-wrap: wrap;
}
