div
{
  border-color: gainsboro;
  border-width: 2px;
}
aside
{
  /* make the sidebar appear on the side */
  width:30%;
  margin-left: 1%;
  float:left;
  border-style: solid;
  border-color: gainsboro;
  border-width: 2px;
}
.heading
{
  color:gray;
  font-size: 2em;

}
.sub
{
  line-height: 2;
  padding-left: 3%;
  font-size: 1.7em;
}

ul
{
  /* we don't need no bullet points */
  list-style: none;
}
